<!DOCTYPE html>
<html>
    <head>
        <title>VL | Log in</title>
        <meta charset="utf-8">
        <link rel="icon" href="{{url_for('static', filename='images/VL-logo-favicon.jpeg')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/minor/main.css')}}">
    </head>

    <body>
        <form action="{{url_for('user_sign_in.api_user_signin')}}" method="POST">
            <div class="login-container">
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <h3>Welcome back!</h3>
                </div>

                <div style="width: 100%; text-align: left;">
                    <div>
                        <h5>Username or email address</h5>
                        <div style="display: flex;">
                            <input type="text" name="username" id="username">
                        </div>
                    </div>
                    <div>
                        <h5>Password</h5>
                        <div style="display: flex;">
                            <input type="password" name="password" id="password">
                        </div>
                    </div>
                    <button class="login-button" type="submit">Login</button>
                </div>
            </div>
        </form>
    </body>
</html>