#header {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    background-color: lightgray;
    margin-bottom: 10px;
}

#conversation-container {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #f2f3f5;
}

.conversation-card__container {
    margin: 10px 0;
}

.conversation-card__title {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#message-container {
    border-right: 1px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#message-panel {
    overflow-x: hidden;
    overflow-y: scroll;
}

.msg-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.msg-item__meta {
    display: flex;
}

.msg-item__sender-id {
    font-weight: bold;
    display: flex;
    margin-right: 10px;
}

.msg-item__sent-time {
    color: rgba(0, 0, 0, 0.6);
}

.msg-item__bubble {
    display: inline-block;
    max-width: 100%;
    padding: 0;
    position: relative;
}

.msg-item__bubble-body {
    margin: 4px 0 4px 80px;
    color: rgba(0, 0, 0, 0.9);
}

.message-form {
    padding-left: 16px;
    padding-right: 16px;
}

.message-form__message-container {
    position: relative;
    background-color: #eaedef;
    resize: none;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: #2e3338;
    border-radius: 8px;
}

.message-form__content-editable {
    padding-bottom: 11px;
    padding-top: 11px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.message-form__placeholder {
    padding-bottom: 11px;
    padding-top: 11px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    right: 0;
}