/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    /*========== Colors ==========*/
    --title-clr: hsl(30, 4%, 9%);
    --text-clr: hsl(36, 4%, 24%);
    --lighter-text-clr: hsl(47, 4%, 45%);
    --body-clr: #ffffff;
    --lighter-body-clr: #f3f3f3;
    --input-clr: #F3F3F5; 
    --darker-input-clr: #E9E9E9;
    --luther-clr: rgb(41, 116, 210);

  /*========== Font and typography ==========*/
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* TODO : Check TailWindCSS Responsive Template */

@media only screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

body {
  background-color: var(--body-clr);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  transition: .5s;
}

h1,
h2,
h3 {
  line-height: 1.5;
  color: var(--title-clr);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}


/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/

/* TODO: Write smthg here */


/*========== Button Dark/Light ==========*/
/* TODO: Write smthg here */


/*=============== REUSABLE CSS CLASSES ===============*/
/* ? I wonder we have any common classes ? */
/* TODO: Write smthg here */

/*=============== SIGN IN ===============*/
/* TODO: Write smthg here */


/*=============== SIGN UP ===============*/
/* TODO: Write smthg here */


/*=============== CHAT APP ===============*/
/* TODO: Write smthg here */


/* =========== CHATAPP (MAIN) ========= */
.chatapp {
  display: flex;
}

/* =========== CHATAPP LIST ========= */
.main-list {
  flex: 1 1 25%;
}

.main-list__options {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-around;
  padding: 2rem 1.5rem 1.5rem;
}

.options-user {
  flex: 1 1 12rem;
}
.options-user h2 {
  font-size: 2rem;
  font-weight: 700;
}

.options-icons {
  flex: 1 1 12rem;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.options-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--input-clr);
}

.options-icons i:hover {
  background-color: var(--darker-input-clr);
}


.main-list__search {
  background-color: var(--input-clr);
  width: 32rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem 2rem;
}

.main-list__search input {
  background-color: inherit;
  flex : 1 1 85%;
  height: 2rem;
  border: none;
  outline: none;
}
.main-list__search .bx-search {
  font-size: 1.8rem;
  color: var(--lighter-text-clr);
  flex: 1 1 15%;
  padding-left: 1.2rem;
}

.convos-item {
  display: flex;
  align-items: center;
}

.convos-item__img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
}

.convos-item__content {
  width: 100%;
  flex-grow: 1;
}






/* =========== CHATAPP CONVOS ========= */
.main__convos {
  width: 50%;
}

#toggle {
  background-color: var(--luther-clr);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle.active {
  background-color: unset;
  transform: scale(1.2);
}






/* =========== CHATAPP SETTING ========= */
.main__setting {
  width: 25%;
}