/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/

:root {
  /*========== Colors ==========*/
  --title-clr: hsl(30, 4%, 9%);
  --text-clr: hsl(36, 4%, 24%);
  --lighter-text-clr: hsl(47, 4%, 45%);
  --body-clr: #ffffff;
  --lighter-body-clr: #f3f3f3;
  --input-clr: #f3f3f5;
  --darker-input-clr: #e9e9e9;
  --luther-clr: rgb(41, 116, 210);

  /*========== Font and typography ==========*/
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

body {
  background-color: var(--body-clr);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  overflow-x: hidden;
  transition: 0.5s;
}

h1,
h2,
h3 {
  line-height: 1.5;
  color: var(--title-clr);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* RESET CSS FOR FORM */
input,
select,
textarea,
button {
  outline: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

textarea {
  resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/

/* TODO: Write smthg here */

/*========== Button Dark/Light ==========*/
/* TODO: Write smthg here */

/*=============== REUSABLE CSS CLASSES ===============*/
/* ? I wonder we have any common classes ? */
/* TODO: Write smthg here */

/*=============== SIGN IN ===============*/
/* TODO: Write smthg here */
.main-container {
  height: 100vh;
  position: relative;
}
li {
  margin-right: 1rem;
  margin-left: 1rem;
  display: inline;
}
ul.nav-bar-left {
  display: inline;
}
ul.nav-bar-right {
  position: absolute;
  right: 0;
  display: inline;
}

div.signin-box {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  padding: 1rem;
  transform: translate(-50%, -50%);
}
input {
  background-color: var(--lighter-body-clr);
  color: var(--lighter-text-clr);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1.5rem;
  border-color: var(--body-clr);
}
div.checkbox {
  font-size: 1.25rem;
  margin-left: 0px;
  width: fit-content;
}
/*=============== SIGN UP ===============*/
/* TODO: Write smthg here */
div.signup-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 1rem;
}
div.box {
  box-shadow:
  12.5px 12.5px 59.5px rgba(0, 0, 0, 0.065),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 2rem;
  width: fit-content;
  height: 600px;
}
button.blue-button {
  display: block;
  margin: 0px auto;
  background-color: var(--luther-clr);
  color: var(--body-clr);
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
button.switch-btn {
  display: block;
  margin: 0px auto;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 0.75rem;
  background-color: var(--body-clr);
  border: 2px solid var(--luther-clr);
  color: var(--luther-clr);
  font-weight: 800;
}
h3.title {
  text-align: center;
  margin-bottom: 1rem;
}
p.switch-phrase {
  font-size: 1rem;
  width: fit-content;
  margin: 10px auto;
}
button#switch-up-to-in {
  font-size: 0.75em;
  margin: 0 auto;
}
button#switch-in-to-up {
  font-size: 0.75em;
  margin: 0 auto;
}
button.nav {
  border-radius: 10px;
  padding: 5px;
  color: var(--luther-clr);
}
div#fetch_test {
  position: absolute;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transition: opacity 1.5s linear;
  -webkit-transition: opacity 1.5s linear;
  -moz-transition: opacity 1.5s linear;
  -o-transition: opacity 1.5s linear;
  z-index: -1;
  visibility: hidden;
}
.show {
  opacity: 1;
  transition: opacity 1.5s linear;
  -webkit-transition: opacity 1.5s linear;
  -moz-transition: opacity 1.5s linear;
  -o-transition: opacity 1.5s linear;
  z-index: 2;
  visibility: visible;
}

/*=============== CHAT APP ===============*/
/* TODO: Write smthg here */
