<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>VL | Sign In</title>
    <script src="../assets/js/main.js" defer></script>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="error"></div>
    <div id="main-container-signin">
      <h3>Sign In</h3>
      <div id="box">
        <form action="/" method="GET">
          <div class="input-box">
            <input id="name" name="name" type="text" placeholder="Username" />
          </div>
          <div class="input-box">
            <input
              id="password"
              name="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <div class="submit-button">
            <button id="submit" name="password" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
