.container {
  display: flex;
  flex-direction: row;

  background-image: url("container-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
