<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Message app interface</title>
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="./assets/js/main.js" defer></script>
  </head>
  <body>
    <!-- =============== SIGN IN =============== -->
    <!-- TODO: Write smthg here  -->

    <!-- =============== SIGN UP =============== -->
    <!-- TODO: Write smthg here  -->

    <!-- =============== CHAT APP =============== -->
    <!-- TODO: Write smthg here  -->

    <div class="chatapp__main">
      <!-- The left main column -->
      <div class="main-list">
        <div class="main-list__options">
          <div class="options__user">
            <img src="" alt="Account Profile" class="account-img user-avatar" />
            <h2>Chats</h2>
          </div>
          <div class="options__icons">
            <span><i class="bx bx-dots-horizontal-rounded"></i></span>
            <span><i class="bx bxs-video-plus"></i></span>
            <span><i class="bx bxs-edit"></i></span>
          </div>
        </div>

        <div class="main-list__search">
            <i class="bx bx-search"></i>
            <input type="text" list="search-list" name="Conversation name" placeholder="Search Messenger"/>
          
        </div>
        <!-- Result for search bar above -->
        <datalist id="search-list">
          <option value=""></option>
          <option value=""></option>
          <!-- To be continue =))))) -->
        </datalist>

        <div class="main-list__convos">
          <div class="convos-item">
            <img src="" alt="" class="user-avatar convos-item__img" />
            <div class="convos-item__content">
              <h3></h3>
              <p></p>
              <img
              src=""
              alt="User status"
              class="user-avatar convos-item__status"
            />
            </div>
          </div>

          <div class="convos-item">
            <img src="https://images.unsplash.com/photo-1632494032158-1e92ad8bf274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" class="user-avatar convos-item__img" />
            <div class="convos-item__content">
              <h3>Alo</h3>
              <p>ok nhasjdjshdsjdhjs</p>
              <img
              src="https://images.unsplash.com/photo-1632494032158-1e92ad8bf274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="User status"
              class="user-avatar convos-item__status"
            />
            </div>
          </div>
          <div class="convos-item">
            <img src="https://images.unsplash.com/photo-1632494032158-1e92ad8bf274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" class="user-avatar convos-item__img" />
            <div class="convos-item__content">
              <h3>Alo</h3>
              <p>ok nhasjdjshdsjdhjs</p>
              <img
              src="https://images.unsplash.com/photo-1632494032158-1e92ad8bf274?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="User status"
              class="user-avatar convos-item__status"
            />
            </div>
          </div>
         




        </div>
      </div>

      <!-- The center main column -->
      <div class="main-convos">
        <div class="main-convos__user">
          <img src="" alt="" class="user-avatar user-avatar--big">
          <div class="user-info">
            <h4 class="user-info__name">Hudson Nguyen</h4>
            <p class="user-info__active">Active now</p>
          </div>
          <div class="user-options__icons">
            <span><i class='bx bxs-phone'></i></span>
            <span><i class='bx bxs-video'></i></span>
            <span><i class="bx bx-dots-horizontal-rounded"></i></span>


          </div>
        </div>
        <div class="main-convos__chat">

        
          <!-- TODO -->


          <div class="chat">
            <div class="messages" id="chat">
              <div class="time">Today at 11:41</div>
              <div class="message parker">Hey, man! What's up, Mr Stark? 👋</div>
              <div class="message stark">Kid, where'd you come from?</div>
              <div class="message parker">Field trip! 🤣</div>
              <div class="message stark">Kid, where'd you come from?</div>
              <div class="message parker">Field trip! 🤣</div>
              <div class="message stark">Kid, where'd you come from?</div>
              <div class="message parker">Field trip! 🤣</div>
              <div class="message parker">Field trip! 🤣</div>
        
            
              <div class="message parker">
                Uh, what is this guy's problem, Mr. Stark? 🤔
              </div>
              <div class="message stark">
                Uh, he's from space, he came here to steal a necklace from a wizard.
              </div>
              <div class="message stark">
                <div class="typing typing-1"></div>
                <div class="typing typing-2"></div>
                <div class="typing typing-3"></div>
              </div>
            </div>
            <div class="input">
              <i class="fas fa-camera"></i><i class="far fa-laugh-beam"></i
              ><input placeholder="Type your message here!" type="text" /><i
                class="fas fa-microphone"
              ></i>
            </div>
          </div>
          <!-- TODO -->

          
        </div>
      </div>

      <!-- The right main column -->
      <div class="main-setting">

       

      </div>
    </div>
  </body>
</html>
