<!DOCTYPE html>
<html>
    <head>
        <title>VL | Messaging</title>
        <meta charset="utf-8">
        <link rel="icon" href="{{url_for('static', filename='images/VL-logo-favicon.jpeg')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/messages/main.css')}}">
    </head>
    <body onbeforeunload="return updateUserLastActiveTime(isClosing=true)">
        <div id="header">
            <div>
                <a style="padding: 2px 5px; border-radius: 4px; font-size: 14px; padding: 2px 5px; background: #23272a;color: #fff; text-decoration: none;margin-right: 10px;" href="/request/people">Find People</a>
            </div>
            <div>
                <form action="/api/logout" method="post">
                    <button style="cursor: pointer;">Log out</button>
                </form>
            </div>
        </div>
        <div style="display: flex; height: 100vh; overflow: hidden;">

            <!-- All available conversations -->
            <div id="conversation-container">
                CONVERSATIONS
            </div>

            <div id="message-container">
                <div id="message-panel"></div>
                <div id="feedback"></div>
                <form class="message-form">
                    <input type="file" id="send-image" accept=".gif,.jpg,.jpeg,.png"><br>
                    <div class="message-form__message-container">
                        <div class="message-form__message-content-container">
                            <div class="message-form__content-editable" contenteditable="true" role="textbox" aria-label="Write a message..." aria-multiline="true">
                            </div>
                            <div class="message-form__placeholder" aria-hidden="true">
                                Write a message...
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="participant-info-container" style="width: 200px;">Info of the other participant</div>

        </div>
        <!-- Socket IO JS -->
        <script src="{{ url_for('static', filename='js/socketio_source.js') }}"></script>
        <script type="text/javascript">
            let conversation = `{{ conversation_id }}`;
            let username = `{{ username }}`;
            let availableConversations = JSON.parse('{{ available_conversations|tojson|safe }}');
        </script>
        <script src="{{ url_for('static', filename='js/message_html_scripts.js') }}"> </script>

        <!-- Custom send_message JS -->
        <script src="{{url_for('static', filename='js/state.js')}}"></script>
        <script src="{{url_for('static', filename='js/messages/main.js')}}"></script>
        <script src="{{url_for('static', filename='js/conversations/main.js')}}"></script>
        <script src="{{url_for('static', filename='js/images/main.js')}}"></script>
    </body>
</html>
