<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/conversation_request/people_list.css')}}">
    <title>List People</title>
</head>
<body>
    <div>
        <a href="/messages">Inbox</a>
    </div>
    <div class="people-table" id="user-{{user[0]}}">
    </div>

    <script src="{{ url_for('static', filename='js/people_list.js') }}"> </script>
</body>
</html>
