<!DOCTYPE html>
<html>
    <head>
        <title>VL | Sign up</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Welcome to VL Messaging</h1>
        <h3>Let's create an account</h3>
        <div>
            <form action="{{url_for('user_sign_up.api_user_signup')}}" method="POST" style="display: flex; flex-direction: column; width: 300px;">
                <label for="username">Username or email address</label>
                <input type="text" name="username" id="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <label for="confirmPassword">ConfirmPassword</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                
                <button type="submit">Sign up</button>
            </form>
        </div>
    </body>
</html>