<!DOCTYPE html>
<html>
    <head>
        <title>VL | Sign in</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Sign in to VL Messaging</h1>
        <div>
            <form action="{{url_for('user_sign_in.api_user_signin')}}" method="POST">
                <label for="username">Username or email address</label>
                <input type="text" name="username" id="username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>