# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: VL Message application GitHub workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow contains several "jobs" that we want to run
jobs:
  # job 1
  test:
    # The OS of the virtual machine (aka runner) that the job will be run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: message_app_server
    # the specific steps that constitute the job
    steps:
      # Copy the code from GitHub to the runner
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r message_app_server/requirements.txt;
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names. The GitHub editor is 127 chars wide
        flake8 . --count --show-source --statistics --max-complexity=10 --max-line-length=127
    - name: Test with pytest
      run: |
        pytest
